/* Default styles for the Product Slider */
.product-slider .slick-slider {
  height: 450px;
}

.product-slider .slick-track {
  height: 450px;
  margin-top: 16px;
}

.product-slider .slick-slide {
  height: 100%;
}

.product-slider .slick-dots {
  margin: 16px 0;
}

/* Default styles for the Post Slider */
.post-slider .slick-slider {
  height: 350px;
}

.post-slider .slick-track {
  height: 330px;
  margin-top: 16px;
}

.post-slider .slick-dots {
  margin: 16px 0;
}

/* Media query for tablets (portrait) */
@media screen and (max-width: 900px) {
  .product-slider .slick-slider {
    height: 430px;
  }

  .product-slider .slick-track {
    height: 450px;
  }

  .post-slider .slick-slider {
    height: 300px;
  }

  .post-slider .slick-track {
    height: 300px;
  }
}

/* Media query for phones (portrait) */
@media screen and (max-width: 680px) {
  .product-slider .slick-slider {
    height: 430px;
  }

  .product-slider .slick-track {
    height: 450px;
  }

  .post-slider .slick-slider {
    height: 300px;
  }

  .post-slider .slick-track {
    height: 300px;
  }
}
